.container-canvas {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.5em;
  width: calc(80% - 30px);
  height: calc(100% - 100px);
  margin: 50px 10px 50px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  overflow: auto;

  .default-container {
    min-width: calc(100% - 60px);
    min-height: calc(100% - 60px);
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 30px;
    overflow: auto;
  }

  .resizer {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.3em;
    height: 0.3em;
    cursor: nwse-resize;
  }
}