.container-container {
  display: block;
  position: relative;
  border: 2px solid black;
  border-radius: 0.5em;
  margin: 10px;
  padding: 2px 10px;
  width: auto;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;

  &:hover {
    background-color: rgba(210, 251, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 3px;
  }

  .resizer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.3em;
    height: 0.3em;
    cursor: nwse-resize;
  }
}

.container-container-copied {
  display: block;
  position: relative;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 5px;
  margin: 10px;
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 50px;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px;
  background-color: #ffffff;
  &:hover {
    background-color: rgba(210, 251, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.45) 0 2px 3px;
  }
}